#u2422
{
	background-color: #1D38C6;
}

#u2423,#u2423:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	background-size: contain;
}

@media (min-width: 771px)
{
	#u2422_align_to_page
	{
		max-width: 960px;
	}

	#u2423
	{
		background-image: url("../images/logo%20ipp%20web-intranet.png");
	}

	#u2423:hover
	{
		background-image: url("../images/logo%20ipp%20web-intranet%20copia.png");
	}

}

@media (min-width: 621px) and (max-width: 770px)
{
	#u2422_align_to_page
	{
		max-width: 770px;
	}

	#u2423
	{
		background-image: url("../images/logo%20ipp%20web-intranet.png");
	}

	#u2423:hover
	{
		background-image: url("../images/logo%20ipp%20web-intranet%20copia.png");
	}

}

@media (min-width: 386px) and (max-width: 620px)
{
	#u2422_align_to_page
	{
		max-width: 620px;
	}

	#u2423
	{
		background-image: url("../images/logo%20ipp%20web-intranet.png");
	}

	#u2423:hover
	{
		background-image: url("../images/logo%20ipp%20web-intranet%20copia.png");
	}

}

@media (min-width: 321px) and (max-width: 385px)
{
	#u2422_align_to_page
	{
		max-width: 385px;
	}

	#u2423
	{
		background-image: url("../images/logo%20ipp%20web-u2423-fr.png");
	}

	#u2423:hover
	{
		background-image: url("../images/logo%20ipp%20web-u2423-r-fr.png");
	}

}

@media (max-width: 320px)
{
	#u2423
	{
		background-image: url("../images/logo%20ipp%20web-intranet.png");
	}

	#u2423:hover
	{
		background-image: url("../images/logo%20ipp%20web-intranet%20copia.png");
	}
}

