	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.8000000000002px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#page_position_content
	{
		margin-top: -2px;
		width: 100%;
	}

	#u2422_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u2423
	{
		height: 124px;
		margin-bottom: -34px;
		margin-top: -26px;
		width: 26.46%;
		left: 36.78%;
	}

	#u2423:hover
	{
		margin-bottom: -34px;
		margin-top: -26px;
		height: 124px;
		width: 26.46%;
	}

	#u2422,#u2422-bw
	{
		min-height: 64px;
	}

	#u2688
	{
		padding-bottom: 97px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u2366
	{
		margin-right: -10000px;
		margin-top: 221px;
	}

	#pu2688,#u2366_img
	{
		width: 100%;
	}

	#u2394-4
	{
		margin-right: -10000px;
		margin-top: 3451px;
		width: 40.94%;
		left: 2.19%;
	}

	#u2298
	{
		min-height: 48px;
	}

	#u2298_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 960px;
	}

	#u2267
	{
		height: 81px;
		background-image: url("../images/bot%c3%b3n%20men%c3%ba-objeto%20inteligente%20vectorial.png");
		margin-bottom: -17px;
		margin-top: -17px;
		width: 12.61%;
		left: 43.65%;
	}

	#u2267:hover
	{
		background-image: url("../images/bot%c3%b3n%20men%c3%ba-objeto%20inteligente%20vectorial%20copia.png");
		margin-bottom: -17px;
		margin-top: -17px;
		height: 81px;
		width: 12.61%;
	}

	#accordionu2268
	{
		margin-top: 7px;
		width: 37.3%;
		left: 30.94%;
	}

	#u2271-10
	{
		width: 94.98%;
		left: 2.8%;
	}

	#u2298-bw
	{
		min-height: 48px;
		margin-top: 18px;
	}

	#u2316
	{
		min-height: 66px;
		padding-bottom: 46px;
	}

	#u2398-4
	{
		margin-top: 26px;
		width: 22.09%;
		left: 36.25%;
	}

	#u2316-bw
	{
		min-height: 66px;
		margin-top: 3492px;
	}

	#u2384
	{
		min-height: 47px;
		padding-bottom: 7px;
	}

	#u2316_align_to_page,#u2384_align_to_page
	{
		max-width: 960px;
	}

	#u2346-4
	{
		margin-top: 22px;
		width: 15.32%;
		left: 4.17%;
	}

	#u2328-8
	{
		margin-top: 6px;
		width: 21.15%;
		left: 77.82%;
	}

	#u2384-bw
	{
		min-height: 47px;
		margin-top: 117px;
	}

