	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.95000000000005px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#page_position_content
	{
		margin-top: -2px;
		width: 100%;
	}

	#u2422_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u2423
	{
		height: 124px;
		margin-bottom: -34px;
		margin-top: -26px;
		width: 26.46%;
		left: 36.78%;
	}

	#u2423:hover
	{
		margin-bottom: -34px;
		margin-top: -26px;
		height: 124px;
		width: 26.46%;
	}

	#u2422,#u2422-bw
	{
		min-height: 64px;
	}

	#u2507
	{
		min-height: 1410px;
	}

	#u2507_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 960px;
		padding-top: 180px;
		padding-bottom: 534px;
	}

	#pu2511
	{
		position: relative;
		width: 100%;
	}

	#u2511
	{
		padding-bottom: 20px;
		position: relative;
		margin-right: -10000px;
		width: 31.98%;
		left: 11.67%;
	}

	#u1165-4
	{
		margin-top: 19px;
		width: 91.86%;
		left: 4.89%;
	}

	#u2515
	{
		padding-bottom: 27px;
		width: 41.25%;
		left: 53.86%;
	}

	#u2450-4
	{
		margin-top: 24px;
		width: 95.96%;
		left: 2.03%;
	}

	#pu2533
	{
		margin-top: 153px;
		position: relative;
		width: 100%;
	}

	#u2533
	{
		padding-bottom: 20px;
		position: relative;
		margin-right: -10000px;
		width: 33.55%;
		left: 11.05%;
	}

	#u1283-4
	{
		margin-top: 20px;
		width: 113.98%;
		left: -4.35%;
	}

	#pu2755
	{
		margin-top: 192px;
		position: relative;
		width: 100%;
	}

	#u2755
	{
		padding-bottom: 27px;
		position: relative;
		margin-right: -10000px;
		width: 33.55%;
		left: 11.05%;
	}

	#u2750-4
	{
		margin-top: 35px;
		width: 113.98%;
		left: -7.15%;
	}

	#u2539,#u2739
	{
		padding-bottom: 25px;
		position: relative;
		margin-right: -10000px;
		width: 40.84%;
		left: 54.28%;
	}

	#u1235-4,#u2745-4
	{
		margin-top: 28px;
		width: 104.34%;
		left: -2.81%;
	}

	#u2507-bw
	{
		z-index: 4;
		min-height: 1410px;
	}

	#u1346_align_to_page
	{
		max-width: 960px;
	}

	#pu1289
	{
		margin-bottom: -8px;
		margin-right: -10000px;
		width: 37.3%;
		margin-left: 30.84%;
	}

	#u1289
	{
		height: 81px;
		background-image: url("../images/bot%c3%b3n%20men%c3%ba-objeto%20inteligente%20vectorial.png");
		width: 33.8%;
		left: 34.36%;
	}

	#u1289:hover
	{
		background-image: url("../images/bot%c3%b3n%20men%c3%ba-objeto%20inteligente%20vectorial%20copia.png");
		margin-bottom: 0px;
		margin-top: 0px;
		height: 81px;
		width: 33.8%;
	}

	#accordionu2043
	{
		margin-top: 23px;
	}

	#u2054-10
	{
		width: 94.98%;
		left: 2.8%;
	}

	#u2545-4
	{
		margin-top: 19px;
		width: 16.46%;
		left: 84.07%;
	}

	#pu2507,#u2545-4_img
	{
		width: 100%;
	}

	#u1346,#u1346-bw
	{
		min-height: 73px;
	}

	#slideshowu2551
	{
		z-index: 57;
		width: 0.01px;
		height: 360px;
		position: relative;
		margin-right: -10000px;
		margin-top: 945px;
		left: 25%;
	}

	#u2553
	{
		position: absolute;
		width: 480px;
		height: 360px;
		background-color: transparent;
	}

	#u2553popup
	{
		z-index: 58;
	}

	#u2556
	{
		z-index: 59;
		width: 480px;
		height: 360px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	#u2556_img
	{
		margin: 95px -2px;
	}

	#u2554
	{
		z-index: 61;
		width: 480px;
		height: 360px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	#u2554_img
	{
		margin: 86px -6px;
	}

	#u2558
	{
		z-index: 63;
		width: 480px;
		height: 360px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	#u2558_img
	{
		margin: -7px 38px -7px 68px;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

