	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.9px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#page_position_content
	{
		margin-top: -2px;
		width: 100%;
	}

	#u2422_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u2423
	{
		height: 124px;
		margin-bottom: -34px;
		margin-top: -26px;
		width: 26.46%;
		left: 36.78%;
	}

	#u2423:hover
	{
		margin-bottom: -34px;
		margin-top: -26px;
		height: 124px;
		width: 26.46%;
	}

	#u2422,#u2422-bw
	{
		min-height: 64px;
	}

	#u2466
	{
		min-height: 805.8499999999999px;
		padding-bottom: 0px;
	}

	#u2466_align_to_page
	{
		max-width: 960px;
		padding-top: 37px;
		padding-bottom: 414px;
	}

	#u492-4
	{
		width: 33.75%;
		left: 8.65%;
	}

	#u2476
	{
		height: 45px;
		margin-top: 9px;
		width: 36.15%;
		left: 7.5%;
	}

	#u570-4
	{
		margin-top: 33px;
		width: 33.75%;
		left: 8.65%;
	}

	#u2456
	{
		z-index: 26;
		height: 45px;
		margin-top: 19px;
		width: 36.15%;
		left: 7.4%;
	}

	#u2500-4
	{
		margin-top: 33px;
		width: 14.48%;
		left: 18.23%;
	}

	#u2460
	{
		z-index: 27;
		padding-bottom: 8px;
		margin-top: 23px;
		width: 22.09%;
		left: 15.32%;
	}

	#u2488-4
	{
		z-index: 28;
		margin-top: 8px;
		width: 83.5%;
		left: 11.33%;
	}

	#pu2466,#u2488-4_img
	{
		width: 100%;
	}

	#u2466-bw
	{
		min-height: 805.8499999999999px;
	}

	#slideshowu578
	{
		z-index: 18;
		width: 0.01px;
		height: 360px;
		position: relative;
		margin-right: -10000px;
		margin-top: 37px;
		left: 47.92%;
	}

	#u591
	{
		position: absolute;
		width: 480px;
		height: 360px;
		background-color: transparent;
	}

	#u591popup
	{
		z-index: 19;
	}

	#u594
	{
		z-index: 20;
		width: 480px;
		height: 360px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	#u594_img
	{
		margin: 95px -2px;
	}

	#u911
	{
		z-index: 22;
		width: 480px;
		height: 360px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	#u911_img
	{
		margin: 86px -6px;
	}

	#u950
	{
		z-index: 24;
		width: 480px;
		height: 360px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-right: -10000px;
		position: relative;
	}

	#u950_img
	{
		margin: -7px 38px -7px 68px;
	}

	.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
	{
		cursor: pointer;
	}

	.SSSlideLoading /* slideshowFreeStyle */
	{
		background: url("../images/loading.gif") no-repeat center center;
	}

